@import "react-alice-carousel/lib/alice-carousel.css";
* {
  transition: width 0.5s ease, height 0.5ms ease;
  scroll-behavior: smooth;

  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  width: 100vw;
  height: auto;

  font-family: "Roboto", sans-serif;

  input {
    all: unset;
  }

  h1 {
    color: rgb(36, 37, 39);
  }

  h2,
  h3,
  h4,
  h5 {
    color: rgb(36, 37, 39);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* border: 1px solid black; */

  width: 100%;

  
  overflow-x: hidden;
  /* height: 100%; */
  height: fit-content;

  padding: 0 !important;
  margin: 0 !important;
  
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;

  padding-top: calc(60px + env(safe-area-inset-top));

  margin: 0;
  font-family: Arial, sans-serif;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

.content {
  height: 200vh;
  background: linear-gradient(180deg, #f8f9fa, #e9ecef);
  padding: 20px;
}

::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
